<main>
  <h1>Forgeddit</h1>
  <% @links.each do |link| %>
  <p><%= link_to link.url, "http://#{link.url}" %>
    <% @comments = Comment.where(link_id: link.id) %>
    <% @count = @comments.length %>
    <%= link_to "#{@count} Comments", "/links/#{link.id}/comments" %>
  </p>
  <% end %>
  <h3><%= link_to "Submit a new link", new_link_path %> </h3>
  <h5><%= link_to "Logout", logout_path, method: :delete %></h5>
</main>
